.nav-link {
    color: white !important;
    font-size: 0.8rem;
}

.navbar-brand {
    color: white !important;
    font-size: 1.5rem !important;
    font-weight: 800;
}

.reverse-row-nav {
    flex-direction: row-reverse;
}

nav.navbar-style {
    background-color: #178be7 !important;
    position: sticky;
    top: 0;
    z-index: 2000;
}

nav.navbar-style .navbar-nav {
    color: white;
}

.navbar-nav {
    align-items: center;
}

.download-btn {
    margin: 0 !important;
}