.nav-link {
    color: white !important;
    font-size: 0.8rem;
}

.navbar-brand {
    color: white !important;
    font-size: 1.5rem !important;
    font-weight: 800;
}

.reverse-row-nav {
    flex-direction: row-reverse;
}

nav.navbar-style {
    background-color: #178be7 !important;
    position: sticky;
    top: 0;
    z-index: 2000;
}

nav.navbar-style .navbar-nav {
    color: white;
}

@media screen and (min-width: 992px) {
    .navbar-nav {
        align-items: center;
    }
}

@media screen and (max-width: 992px) {
    .navbar-nav .download-btn {
        margin: 0;
    }

    .navbar-nav .nav-link {
        font-size: 1.1rem;
    }
}

.download-btn {
    margin: 0 !important;
    padding-top: 0;
    padding-left: 0;
}