.font-small {
    font-size: 0.7rem;
}

.first-fold-section {
    .about-info {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 20px;

        em {
            font-size: 1.5rem;
        }

        h1, h3, h5 {
            margin-bottom: 20px;
        }

        h5 {
            font-style: italic;
        }

        .color-orange {
            color: orange;
        }
    }

    .img-container {
        max-height: 80vh;
        display: flex;
        justify-content: center;
    }
}

.footer-section {
    background-color: #178be7;

    .pdf-row {
        display: flex;
        justify-content: center;
        padding: 20px;

        &:hover {
            button {
                background-color: rebeccapurple;
                border-color: rebeccapurple;
            }
        }

        a {
            color: white;
            text-decoration: none;
        }
    }

    .footer-icons-row {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .copyright-container {
            display: flex;
            justify-content: center;
            color: white;
        }

        .icons-container {
            justify-content: center;
            margin-right: 0 !important;

            a {
                text-decoration: none;
                color: white;
                padding: 5px;
                font-size: 20px;

                &:hover {
                    color: black;
                }
            }
        }
    }
}
.grey-bg {
    background-color: #f9f9f9;
}

.active-link {
    color: yellow;
    font-weight: bold;
}
.work-ex-header {
    padding: 20px;
    text-align: center;

    .section-heading {
        font-family: sans-serif;
        font-weight: 600;
        color: orange;
    }
}

.reponsibilities {
    padding-left: 20px;
    list-style: none;

    .features-list {
        padding-left: 20px;
        list-style-type: square;
    }
}

.projects-section {
    margin-bottom: 50px;

    .one-work-ex {
        margin-left: 20px;
        margin-right: 20px;

        .company-img-container {
            padding: 20px;

            .company-img {
                float: right;
                height: 80px;
            }

            @media screen and (max-width: 992px) {
                padding: 10px;

                .company-img {
                    float: none;
                }
            }
        }

        .company-details-container {
            padding: 20px 50px;
            float: right;
            font-size: 0.9rem;

            .company-header {
                color: #178be7;
            }

            .company-position {
                display: flex;
                color: #5e9516;
                font-weight: bold;
            }

            .para {
                margin-top: 30px;

                .reponsibilities {
                    padding-left: 0;
                    list-style: none;

                    .features-list {
                        padding-left: 20px;
                        list-style-type: square;
                    }
                }
            }

            @media screen and (max-width: 992px) {
                padding: 20px;
            }
        }
    }

    h2 {
        text-align: center;
        color: #333;
    }
}

.all-projects {
    .my-masonry-grid {
        display: -webkit-box; /* Not needed if autoprefixing */
        display: -ms-flexbox; /* Not needed if autoprefixing */
        display: flex;
        margin-left: -30px; /* gutter size offset */
        width: auto;
        padding: 4px;
    }
    .my-masonry-grid_column {
        padding-left: 30px; /* gutter size */
        background-clip: padding-box;
    }    
    /* Style your items */
    .my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
        background: transparent;
        margin-bottom: 30px;
    }

    .cardContainer:hover {
        border: 1px solid white;
        cursor: pointer;
    }
    
    .cardContainer:hover .cardBody {
        background-color: #178be7;
        color: white;
    }
    
    .cardContainer:hover .cardBody .cardTitle {
        font-weight: bold;
    }
    
    .cardBody {
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .cardBody .cardTitle {
        font-family: fantasy;
    }
    
    .cardImg {
        height: 200px;
    }
}

.modal-header {
    top: 0;
    position: sticky;
    background: white;
    z-index: 2050;
}

.score-section {
    padding: 40px 20px;

    @media screen and (max-width: 767px) {
        padding-left: 0;
        padding-right: 0;
    }

    .info-icon {
        color: grey;
        opacity: 0.5;

        &:hover {
            opacity: none;
            color: black;
        }
    }
}

.project-details {
    z-index: 2000 !important;
    display: flex !important;
    align-items: center;

    .project-details-title {
        background: #E7178B;
        color: white;
        text-transform: uppercase;
    }

    .project-details-body {
        overflow: auto;
        max-height: 80vh;
    }

    .travel-modal-img {
        max-width: 60%;
    }

    .vaccine-modal-img-container {
        display: flex;
        justify-content: center;

        .vaccine-modal-img {
            max-width: 90%;
        }
    }
}