.first-fold-section {
    .about-info {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 20px;

        em {
            font-size: 1.5rem;
        }

        h1, h3, h5 {
            margin-bottom: 20px;
        }

        h5 {
            font-style: italic;
        }

        .color-orange {
            color: orange;
        }
    }

    .img-container {
        max-height: 80vh;
        display: flex;
        justify-content: center;
    }
}

.footer-section {
    background-color: #F4F5F7;

    .pdf-row {
        display: flex;
        justify-content: center;
        padding: 20px;

        &:hover {
            button {
                background-color: rebeccapurple;
                border-color: rebeccapurple;
            }
        }

        a {
            color: white;
            text-decoration: none;
        }
    }

    .footer-icons-row {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .copyright-container {
            display: flex;
            justify-content: center;
        }

        .icons-container {
            justify-content: center;
            margin-right: 0 !important;

            a {
                text-decoration: none;
                color: silver;
                padding: 5px;
                font-size: 20px;

                &:hover {
                    color: black;
                }
            }
        }
    }
}

.work-ex-header {
    padding: 20px;
    text-align: center;
}

.projects-section {
    margin-bottom: 50px;

    .one-work-ex {
        margin-left: 20px;
        margin-right: 20px;

        .company-img-container {
            padding: 20px;

            .company-img {
                float: right;
                height: 80px;
            }
        }

        .company-details-container {
            padding: 20px 50px;
            float: right;
            font-size: 0.9rem;

            .company-header {
                color: #178be7;
            }

            .company-position {
                display: flex;
                color: #5e9516;
                font-weight: bold;
            }

            .para {
                margin-top: 30px;

                .reponsibilities {
                    padding-left: 0;
                    list-style: none;

                    .features-list {
                        padding-left: 20px;
                        list-style-type: square;
                    }
                }
            }
        }
    }

    h2 {
        text-align: center;
        color: #333;
    }
}